.row__section {
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: space-around !important;
  align-items: center !important;
  width: 100% !important;
  text-align: center !important;
}
@media all and (max-width: 500px) {
  .row__section {
    display: flex !important;
    flex-flow: column wrap !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
