* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.app {
  min-height: 100vh;
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 12vh 0;
  overflow-x: auto;
}
.css-1oqqzyl-MuiContainer-root {
  padding: 0 !important;
}
.css-1qsxih2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (min-width: 600px) {
  .css-1qsxih2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  .css-1oqqzyl-MuiContainer-root {
    max-width: unset !important;
  }
}
